<div class="customer-dashboard">
  <div class="customer-dashboard-header">
    <h2>Welcome to your Customer Dashboard</h2>
    <p>
      Here you can view your full list of customers, check their details, and
      easily add new ones. Stay organized and manage everything in one place.
    </p>
  </div>

  <div class="dashboard-links">
    <a routerLink="/customerlist" class="dashboard-item">Customer List</a>
    <a routerLink="/customers/new" class="dashboard-item">Add New Customer</a>
  </div>
</div>
