$primary-color: purple;
$accent-color: #a020f0;

.about-container {
  padding: 2rem;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  color: white;
  background: linear-gradient(to right, #000000, purple);
  > .about-text {
    max-width: 800px;
  }
}

.highlight {
  color: $accent-color;
  transition: color 0.2s ease;
}

.highlight:hover {
  color: $primary-color;
  cursor: pointer;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
