$primary-color: purple;
$secondary-color: #000000;

.footer {
  background: $secondary-color;
  color: white;
  padding: 2rem 0;
  text-align: center;

  .footer-content {
    max-width: 100%;
    margin: 0;
    padding: 1rem 0;

    p {
      margin: 0;
      font-size: 1rem;
    }

    .footer-links {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      gap: 1.5rem;
      a {
        color: white;
        text-decoration: none;
        margin: 0 1rem;
        font-size: 1rem;
        transition: color 0.3s;
        width: 100px;

        &:hover {
          color: $primary-color;
          font-size: 1.2rem;
        }
      }
    }
  }
}
