$primary-color: purple;
$secondary-color: #000000;

.navbar {
  background: linear-gradient(to right, $secondary-color, $primary-color);
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    .navbar-headline{
      font-size: 2rem;
      text-decoration: none;
      color: white;
    }
  }

  .navbar-menu {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }

  .navbar-item {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s;

    &:hover {
      transform: scale(1.2);
    }
  }
}
