.customer-detail-container{
    background: linear-gradient(to right, #000000, purple);
    padding: 2rem;
    color: white;
}

.customer-detail {
  max-width: 800px; /* Breite für das Detailformular */
  margin: 0 auto;
  padding: 2rem;
  background-color: #222; /* Dunkler Hintergrund */
  color: #fff;
  border-radius: 8px; /* Abgerundete Ecken */
}

.customer-detail h3 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

th,
td {
  padding: 1rem;
  text-align: left;
  font-size: 1.1rem;
}

th {
  background-color: #333;
  color: #fff;
}

td {
  background-color: #444;
  color: #fff;
}

tr:nth-child(even) td {
  background-color: #555;
}

tr:hover {
  background-color: #6a1b9a;
}

button {
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: #6a1b9a;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #555;
}

button:hover {
  background-color: #a020f0; /* Hover-Effekt für den Button */
}